html{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}
body{
    margin: 0;
    display: flex;
}
html, body{
    height: 100%;
    width: 100%;
}

h1, h2{
    margin: 0;
    font-weight: 100;
}
.sidebar{
    background-color: #101010;
    width: 30%;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    margin-left: 5%;
    max-width: 350px;
}

.content{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

.social{
    font-size: 30px;
    text-align: center;
}

.circle {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: white;
    color: white;
    text-align: center;
    font-size: 25px;
}

.social-icon{
    font-size: 25px;
    top: 3px;
    position: relative;
    color: #101010;
}

.fa-envelope{
    font-size: 20px;
   line-height: 26px;
   top: 1px;

}

.fa-linkedin{
    font-size: 23px;
    line-height: 26px;
    top: 2.5px;
    left: .5px;
}

.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin: 20px;
    /* line-height: 100px; */
}

.categories {
    text-align: right;
    font-size: 20px;
    padding-top: 15%;
}

.category-button {
    line-height: 40px;
    margin-top: 10px;
    padding-right: 20px;
    margin-left: 20px;

    transition: .5s;
}
.category-button:hover {
    background-color: white;
    color: #101010;
}

.social-link:hover .circle{
    background-color: #84c9f7;
    z-index: 100;
}

.main{
    background-color: #101010;
}

.main {
    background-color: #101010;
    height: 100%;
    /* width: 100%; */
    margin-right: 5%;
    flex-grow: 1;
}



.icon {
    color: white;
    text-decoration: none;
    float: right;
    display: block;
    font-size: 30px;
}

.nav-menu-text{
    position: relative;
display: block;
transition: .5s;
}

.icon:hover .nav-menu-text{
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

}
