#portfolio-page {
	background-color: #131313;
	overflow-y: scroll;
	overflow-x: hidden;

	h2 {
		font-size: 2.4rem;
		letter-spacing: 1.52px;
		margin: 0 0 0.8px 0;
	}
	h3 {
		font-size: 1.733rem;
		letter-spacing: 0.98px;
		margin: 0;
	}

	p {
		margin: 0;
	}
}

.visit-area {
	margin-left: auto;
	width: 180px;
	height: 100%;
	min-height: 80px;
	display: block;
	transform: translateX(0);
	transition: 0.5s;

	&:hover {
		transform: translateX(2rem);
	}

	&:hover::after {
		width: 0%;
	}

	span {
		font-size: 1rem;
		letter-spacing: 0.65px;
		text-align: justify;
	}
}

.portfolio-item {
	padding: 2.133rem 4rem;
	display: grid;
	height: 100vh;
	grid-gap: 1rem;
	grid-template-rows: auto 1fr auto;
}
.portfolio-item-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}



.portfolio-item-desc {
	letter-spacing: 0.76px;
	font-size: 1.333rem;
	line-height: 1.333rem;
	height: 100%;
	flex-shrink: 1;
	grid-gap: 1rem;
}



.marquee {
	.marquee-img {
		object-fit: contain;
		max-height: 100%;
		width: 100%;
	}

	img {
		max-width: 100%;
	}

	.switcher {
		height: 28px;
	}
}

#calendar-page {
	background-color: #272727;

	.marquee-img {
		object-position: top left;
		background-color: #54749c;
	}
}

#revan-page {
	background-color: #292929;

	.marquee-img {
		background-color: #171717;

		object-position: center;
		object-fit: none;
	}
}

#adelitas-page {
	background-color: #131313;

	.marquee-img {
		object-position: center;
	}

	h2, h3 {
		text-align: right;
	}
}

#safewalk-page {
	background-color: #171c22;

	.marquee-img {
		object-position: bottom right;
		background-color: #1a5dac;
	}

	h2, h3 {
		text-align: right;
	}

	.portfolio-item-details {
		display: flex;

		h4 {
			font-size: 0.9333rem;
			letter-spacing: 0.76px;
			text-align: justify;
			margin: 0;
		}
	}

	#safewalk-desc {
		grid-area: desc;
	}

	#safewalk-visit {
		width: 100%;
		flex-shrink: 1;
		grid-area: visit;
	}

	#safewalk-team {
		display: grid;
		grid-gap: 0.8rem;
		grid-template-columns: auto auto;
		margin-right: 0.8rem;

		grid-area: team;

		ul {
			padding: 0;
			margin: 0;

			li {
				font-size: 0.8rem;
				letter-spacing: 0.3px;
				text-align: justify;
				white-space: nowrap;
			}
		}
	}

	.portfolio-item-desc {
		p {
			margin: 0;
		}

		letter-spacing: 0.76px;
		font-size: 0.9333rem;
		line-height: 1rem;
		height: 100%;
		display: grid;
		grid-template-rows: auto auto 1rem;
		flex-shrink: 1;
		grid-gap: 1rem;
	}
}

#adelitas-page .visit-area span,
#revan-page .visit-area span {
	font-size: 1.33rem;
}
