html {
    font-size: 1.5vh;
}

body,
html {
    padding: 0;
    display: block;
    overflow: hidden;
    margin: 0;
}

nav {
    position: absolute;
    top: 10vh;
    width: calc((100vw - 80vh) / 2);
    z-index: 9000;
}

.nav {
    margin: 0;
    padding: 0;
}

nav div {
    margin: auto;
    width: fit-content;
}

ol.nav {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.5rem;
}

ol li {
    list-style: none;
}

ol li,
h1 {
    animation: bounce 1s ease 0s 1;
}

a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    grid-area: nav;
}

a,
a:visited {
    text-decoration: none;
    position: relative;
}

a::after,
a:visited::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    background: #fff;
    transition: 0.5s;
}

a:hover::after,
a:visited:hover::after,
a.-active::after {
    width: 100%;
}

ol.nav li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 100;
}

footer {
    margin: auto;
    position: absolute;
    display: grid;
    width: 500px;
    grid-template-columns: auto 1fr auto;
    color: #979797;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    z-index: 10;
    bottom: 10px;
    left: calc(50vw - 250px);
}

.input-box {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background-color: inherit;
    border: none;
    border-bottom: 1px #979797 solid;
    width: 500px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

.input-box.textarea {
    height: 300px;
    resize: none;
}

.portfolio-pic {
    height: 300px;
    width: 760px;
    transition: 0.5s;
}

.portfolio-pic:hover {
    height: 304px;
    width: 770px;
}

#pic1 {
    grid-area: pic1;
}

.left {
    left: 100%;
    position: relative;
    transition: 0.5s;
}

.right {
    right: 100%;
    position: relative;
    transition: 0.5s;
}

.left.-onScreen {
    left: 0;
}

.right.-onScreen {
    right: 0;
}

#pic2 {
    grid-area: pic2;
}

#pic3 {
    grid-area: pic3;
}

#portfolio {
    display: grid;
    padding: 10px;
    transition: 1s;
    grid-template-rows: 150px 300px 100px 300px 100px 300px 150px;
    grid-template-columns: 1fr 760px 1fr;
    box-sizing: border-box;
    grid-template-areas:
        "pad0 pad0 pad0"
        "pad1 pic1 pad2"
        "pad3 pad3 pad3"
        "pad4 pic2 pad5"
        "pad6 pad6 pad6"
        "pad7 pic3 pad8";
}

#app {
    position: absolute;
    background-color: #323033;
    transition: 1s;
    opacity: 1;
}

#app.init,
#logo.init {
    opacity: 0;
    transition: 1s;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    width: 180px;
    font-weight: 100;
    letter-spacing: 5.5px;
    grid-area: title;
    margin: 0 0 10px 0;
    line-height: 120%;
}

#home-page {
    width: 100%;
    height: 100vh;
    z-index: 2000;
    overflow: hidden;
}

#logo-column {
    display: grid;
    grid-area: logo;
    grid-template-rows: 1fr 250px 1fr;
    max-height: 100vh;
    grid-template-areas: "pad" "logo" "pad2";
}

#logo {
    display: block;
    position: absolute;
    height: 80vh;
    width: 100%;
    margin: 10vh auto;
    opacity: 1;
    transition: 2s;
    z-index: 999;
}

#menu {
    position: fixed;
    top: 7px;
    left: 7px;
}

#animations {
    grid-area: animations;
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-template-areas: "pad animations";
}

canvas {
    grid-area: animations;
}

nav .init {
    transform: translateX(-100vw);
    animation: none;
}

@media only screen and (max-width: 1064px) {
    #portfolio {
        display: grid;
        grid-template-rows: 100px 300px 100px 300px 100px 300px 100px;
        grid-template-columns: 1fr 760px 1fr;
        padding: 10px;
        box-sizing: border-box;
        grid-template-areas:
            "pad0 pad0 pad0"
            "pad1 pic1 pad2"
            "pad3 pad3 pad3"
            "pad4 pic2 pad5"
            "pad6 pad6 pad6"
            "pad7 pic3 pad8";
    }
}

@media only screen and (max-width: 800px) {
    #portfolio {
        display: grid;
        grid-template-rows: 100px 300px 100px 300px 100px 300px 100px;
        grid-template-columns: 1fr 760px 1fr;
        padding: 10px;
        box-sizing: border-box;
        grid-template-areas:
            "pad0 pad0 pad0"
            "pad1 pic1 pad2"
            "pad3 pad3 pad3"
            "pad4 pic2 pad5"
            "pad6 pad6 pad6"
            "pad7 pic3 pad8";
    }
}

#fog {
    width: 100%;
    height: 100%;
}

.rotate45 {
    transform: translateX(125px) !important;
    height: 80px !important;
    top: 10px;
    opacity: 0;
    position: fixed;
}

.scaledLogo {
    height: 80px !important;
    transform: translateX(86px);
    position: fixed;
    top: 10px;
}

#about-page,
#contact-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000000bb;
    transition: 1s;
    top: 0;
    z-index: 2000;
}

#contact-page {
    transform: translateY(-100vh);
}

#about-page {
    transform: translateX(100vw);
}

#about-page.show,
#contact-page.show {
    transform: translateY(0) translateX(0);
}

#about-page.top,
#contact-page.top,
#home-page.top {
    z-index: 3000;
}

@keyframes bounce {
    0% {
        transform: translateX(-100vw);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}
