@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply h-full w-full relative;
}

html {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.smooth-scroll {
	scroll-behavior: smooth;
}

.w-min {
	width: min-content;
}

.h-fit {
	height: fit-content;
}
